numpy<2.0
opencv-python
pillow
matplotlib
joblib
tqdm
pandas
pytorch-lightning
scikit-image
scikit-learn
albumentations
einops
pyyaml
ftfy
regex
kornia
hydra-core
webdataset
easydict
albumentations==0.5.2
tensorflow
tabulate
packaging
wldhx.yadisk-direct
git+https://github.com/openai/CLIP.git
